doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title ヤクプロ - 薬剤情報検索を、もっとカンタンに！
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='ヤクプロは、薬剤の投与量や安全情報などをスピーディーに検索することを目的として開発されたチャットボットアプリです。')
    meta(property='og:title' content='ヤクプロ - 薬剤情報検索を、もっとカンタンに！')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://yakupro.datack.jp/')
    meta(property='og:description' content='ヤクプロは、薬剤の投与量や安全情報などをスピーディーに検索することを目的として開発されたチャットボットアプリです。')
    meta(property='og:site_name' content='ヤクプロ - 薬剤情報検索を、もっとカンタンに！')
    meta(property='og:image' content='https://yakupro.datack.jp/og.png')
    link(rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="manifest.json")
    meta(name="msapplication-TileColor" content="#3F51B5")
    meta(name="msapplication-TileImage" content="ms-icon-144x144.png")
    meta(name="theme-color" content="#3F51B5")
    link(rel='stylesheet' href='assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='assets/css/font-awesome.min.css')
    link(rel='stylesheet' href='assets/css/default.css')
    link(rel='stylesheet' href='assets/css/style.css')
    script(type='text/javascript' src='assets/js/vendor/modernizr-3.6.0.min.js' defer)
    script(type='text/javascript' src='assets/js/vendor/jquery-1.12.4.min.js' defer)
    script(type='text/javascript' src='assets/js/bootstrap.min.js' defer)
    script(type='text/javascript' src='assets/js/main.js' defer)
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js' defer)
    script(type='text/javascript' src='assets/js/emailjs.js' defer)
  body
    div.off_canvars_overlay
    header#home.header-area.header-v1-area
      div.header-nav
        div.container
          div.row
            div.col-lg-12
              div.navigation
                nav.navbar.navbar-expand-lg.navbar-light
                  a.navbar-brand(href='index.html')
                    img(src='assets/images/logo.svg' alt='')
    section.hero-area.bg_cover(style='background-image: url(assets/images/hero-bg.jpg);')
      div.container
        div.row
          div.col-lg-6
            div.hero-content
              h1.title(style='padding-bottom: 24px;')
                span 薬剤情報検索
                | を、
                br
                | もっとカンタンに！
              h4(style='padding-bottom: 64px; color: white;') 医師・薬剤師のための薬剤情報検索アプリ
              ul.nav
                li
                  a(href='https://apps.apple.com/app/id1503145878' target='_blank')
                    img(src='assets/images/store_apple.svg' width='240')
          div.col-lg-6
            div.hero-thumb
              img(src='assets/images/hero-thumb.svg' alt='')
    section#intro.features-area
      div.container.custom-container
        div.features-box(style='background: white;')
          div.row.mb-30
            div.col-lg-12
              div.features-title
                h3.title
                  | 普段の業務で、
                  br
                  | 検索に手間がかかっていませんか？
          div.row.justify-content-center
            div.col-lg-6
              span.mb-30 １つの薬剤情報を調べるのに、平均30秒〜90秒かかっています
              ol
                li.mb-30(style='font-size: 20px; color: #2E2E2E; font-weight: 700;')
                  i.fal.fa-check-circle(style='color: #FFC000;')
                  span.ml-4(style='color: #2E2E2E;') ネット検索で添付文書を探すのに時間がかかる
                li.mb-30(style='font-size: 20px; color: #2E2E2E; font-weight: 700;')
                  i.fal.fa-check-circle(style='color: #FFC000;')
                  span.ml-4 調べたいときに手元に書籍がない
                li.mb-30(style='font-size: 20px; color: #2E2E2E; font-weight: 700;')
                  i.fal.fa-check-circle(style='color: #FFC000;')
                  span.ml-4 妊娠・授乳時の情報がわからない
            div.col-lg-6
              div.section-title.text-center
                img(src='assets/images/single-blog-thumb-1.svg' alt='')
    section#features.intro-area
      div.container
        div.row.justify-content-center
          div.col-lg-7
            div.section-title.text-center
              h3.title
                | 薬剤情報がパッと見つかる
        div.row.align-items-center
          div.col-lg-6
            div.intro-thumb
              img(style='box-shadow: none;' src='assets/images/intro-thumb.svg' alt='')
          div.col-lg-6
            div.intro-content.mb-30
              div.mb-30
                h4.title ヤクプロの機能
                p
                  | ヤクプロは、薬剤の投与量や安全情報などをスピーディーに検索することを目的として開発された、チャットボットアプリです。添付文書・文献・インターネット・参考書籍などに代わり、どこでも気軽に情報収集ができます。
              div.intro-item.mb-30
                i.fal.fa-fw.fa-rocket
                h4.title 検索時間を最大90%短縮
                p
                  | 薬剤名をテキスト入力するだけで情報検索が可能
                  br
                  |（一般名または販売名）
              div.intro-item.mb-30
                i.fal.fa-fw.fa-balance-scale-right
                h4.title 腎機能 に応じた用量調節も即答でサポート
                p
                  | 提供中の薬剤情報
                  ul
                    li ・効能効果 / 用法用量
                    li ・腎機能低下時の用量
                    li ・妊娠授乳時の安全性
              div.intro-item
                i.fal.fa-fw.fa-mobile
                h4.title iPhone・iPad でどこでもすぐに検索
                p
                  | 診療中・当直中や移動中の短時間での情報収集に有用
            p(style='font-size: 14px;')
              | ※「ヤクプロ」は医療関係従事者を対象としたサービスです。ご利用には会員登録が必要になります。
              br
              | ＊免責＊
              br
              | 本アプリは添付文書上の用法用量・使用上の注意や治療指針、ガイドラインなど公知の情報を基にしており、独自の医療判断を行うものではありません。最終的な診断・投薬等のご判断はユーザ自身の責任により行っていただきます。
    section#doctors.news-area(style='padding-bottom: 0;')
      div.container
        div.row.justify-content-center
          div.col-lg-12
            div.section-title.text-center
              h3.title
                | 現役の医師・薬剤師が開発しています
        div.row.justify-content-center
          div.col-lg-3.col-md-6.col-sm-9
            div.news-item.mt-30
              div.news-thumb
                img(src='assets/images/member_hideki.jpg' alt='')
          div.col-lg-3.col-md-6.col-sm-9
            div.news-item.mt-30
              div.news-thumb
                img(src='assets/images/member_sakiyama.jpg' alt='')
          div.col-lg-3.col-md-6.col-sm-9
            div.news-item.mt-30
              div.news-thumb
                img(src='assets/images/member_sato.jpg' alt='')
          div.col-lg-12
            div.news-btn.text-center.mt-60
              p
                | 普段臨床にあたっている医師・薬剤師が、自分たちの悩みを解決するために開発しました。
                br
                | 現場で役立つように、速さと使いやすさにこだわったアプリを開発し、日々アップデートしています。
    section#feedbuck.news-area
      div.container
        div.row.justify-content-center
          div.col-lg-5.col-md-9
            div.section-title.text-center
              h3.title
                | ご利用者の声
        div.row.justify-content-center
          div.col-lg-4.col-md-7.col-sm-9
            div.news-item.mt-30
              div.news-content(style='height: 280px;')
                h4.title とても速くて、すごく便利なツールだと思う。名前を入れただけでサクッと知りたい情報が出てきた。
                span
                  | 薬剤師・調剤薬局勤務
          div.col-lg-4.col-md-7.col-sm-9
            div.news-item.mt-30
              div.news-content(style='height: 280px;')
                h4.title 腎機能の検索はすごく便利だと思う。一般的な書籍よりも濃厚な情報が載っているし、日本語ですぐに探せるので便利。
                span
                  | 医師・在宅診療所勤務
          div.col-lg-4.col-md-7.col-sm-9
            div.news-item.mt-30
              div.news-content(style='height: 280px;')
                h4.title 妊娠・授乳時の情報は添付文書でも明確な記載がないけど、このアプリでは添付文書に載っていない情報がすぐに探せるのが良い。
                span
                  | 医師・病院勤務
    section.download-app-area
      div.container
        div.row
          div.col-lg-12
            div.download-app-content
              h3.title
                | ダウンロードはこちら
                br
                |（利用料：無料）
              ul.nav
                li
                  a(href='https://apps.apple.com/app/id1503145878' target='_blank')
                    img(src='assets/images/store_apple.svg' width='320')
    section.news-area(style='padding-top: 160px;')
      div.container
        div.row.justify-content-center
          div.col-lg-8
            div.blog-comment-title.pt-50
              h3.title ヤクプロのお問合せはこちらへ
            div.blog-comment-form-area
              form#form-inqury
                div.row.custom-row
                  div.col-lg-12
                    div.input-box.mb-10
                      input#form-name(type='text' placeholder='お名前')
                      span#form-name-help(style='display: none; font-size: 14px; color: red;') お名前を入力してください。
                    div.input-box.mb-10
                      input#form-email(type='text' placeholder='メールアドレス')
                      span#form-email-help(style='display: none; font-size: 14px; color: red;') メールアドレスを入力してください。
                    div.input-box.mb-10
                      textarea#form-body(cols='30' rows='10' placeholder='お問い合わせ内容')
                      span#form-body-help(style='display: none; font-size: 14px; color: red;') お問い合わせ本文を入力してください。
                  div.col-lg-12
                    div.blog-btn.mt-30.text-center
                      button.main-btn.main-btn-2#form-submit(disabled style='padding: 0 68px 0 68px; opacity: 0.5') 送信する
    section.footer-area.bg_cover(style='background: #202C72;padding-top: 32px; padding-bottom: 32px;')
      div.container
        div.row
          div.col-lg-6.col-md-12
            div.footer-about
              a(href='/')
                img(src='assets/images/logo.svg' alt='')
              p
                | ヤクプロは、薬剤の投与量や安全情報などをスピーディーに検索することを目的として開発された、チャットボットアプリです。添付文書・文献・インターネット・参考書籍などに代わり、どこでも気軽に情報収集ができます。
          div.col-lg-6.col-md-12
              div.footer-list.mt-20.pl-55
                h5.title 運営会社
                div
                  a(style='font-weight: 500; color: #fff; line-height: 40px;' href='https://datack.jp/' target='_blank') 株式会社データック
                  br
                  span(style='font-weight: 500; color: #fff; line-height: 40px;') 〒100-0005
                  br
                  span(style='font-weight: 500; color: #fff; line-height: 40px;') 東京都千代田区丸の内2-2-1 岸本ビルヂング6F
                  br
                  span(style='font-weight: 500; color: #fff; line-height: 40px;') staff@datack.jp
          div.col-lg-12
            span.copyright © Copyright Datack 2020. All Rights Reserved.
    a.back-to-top
      i.fal.fa-angle-up